@if (Show)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog @DialogCssClass">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="btn-close" @onclick="OnClose"></button>
                </div>
                <div class="modal-body @BodyCssClass">
                    @if (ToastContent is not null)
                    {
                        <div class="mb-3">
                            @ToastContent
                        </div>
                    }
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "Modal";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? ToastContent { get; set; }
    [Parameter] public string DialogCssClass { get; set; } = string.Empty;
    [Parameter] public string BodyCssClass { get; set; } = string.Empty;
}
